@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
}

<ul class="nav flex-column nav-enhanced">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" asp-action="Index", asp-controller="Roles">Change Roles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" asp-action="Create" asp-controller="Roles">Create Role</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" asp-action="Delete" asp-controller="Roles">Delete Role</a>
  </li>
</ul>

<div class="col-lg-5 mx-auto">
	<table class="table table-dark table-striped">
		<thead>
			<tr>
				<th scope="col">Role</th>
				<th scope="col" style="width: 50">-</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var role in Model)
			{
				<tr>
					<td>@role.Name</td>
					<td>
						@using(@Html.BeginForm("Delete", "Roles", FormMethod.Post))
						{
							@Html.Hidden("id", role.Id)
							<input type="submit" class="btn btn-warning" value="Delete"/>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>